{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col page-heading">
                <h1 class="heading">Shopping Cart</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive-lg">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th class="p-text text-bold" scope="col">Product Info</th>
                                    <th class="p-text text-bold" scope="col"></th>
                                    <th class="p-text text-bold" scope="col">Price</th>
                                    <th class="p-text text-bold" scope="col">Qty</th>
                                    <th class="p-text text-bold" scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for item in cart_items %}
                                    <tr class="cart-items">
                                        <td class="cart-item-img">
                                            {% if item.product.image %}
                                                <img class="img-fluid cart-img" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                            {% else %}
                                                <img class="img-fluid cart-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                            {% endif %}
                                        </td>
                                        <td>
                                            <p class="p-text text-bold">{{ item.product.name }}</p>
                                        </td>
                                        <td>
                                            <p class="p-text">€{{ item.product.price }}</p>
                                        </td>
                                        <td>
                                            <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="input-group cart-quantity">
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty btn btn-sm btn-secondary" 
                                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                                <span>
                                                                    <i class="fas fa-minus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <input class="form-control form-control-sm qty_input" type="number"
                                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                            data-item_id="{{ item.item_id }}"
                                                            id="id_qty_{{ item.item_id }}">
                                                        <div class="input-group-append">
                                                            <button class="increment-qty btn btn-sm btn-secondary"
                                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                                <span>
                                                                    <i class="fas fa-plus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="update-remove">
                                                <a class="update-link text-info"><small>Update</small></a>
                                                <a class="remove-item text-danger float-end" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="p-text">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr class="cart-total">
                                    <td colspan="5" class="text-end">
                                            <p class="p-text text-bold">Cart Total: €{{ total|floatformat:2 }}</p>
                                            <p class="p-text">Delivery: €{{ delivery|floatformat:2 }}</p>
                                            <p class="p-text text-bold">Grand Total: €{{ grand_total|floatformat:2 }}</p>
                                            {% if free_delivery_delta > 0 %}
                                                <p class="text-info">
                                                    You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                                                </p>
                                            {% endif %}
                                    </td>
                                </tr>
                                <tr class="cart-buttons">
                                    <td colspan="5" class="text-end">
                                        <!-- Continue shopping button -->
                                        <a href="{% url 'products' %}?category=dining_sets,bistro_set,lounge_sets,chairs,sofas,benches,new_arrivals" class="button btn no-bg-btn">
                                            <span class="p-text">Continue Shopping</span>
                                        </a>
                                        <!-- Checkout button -->
                                        <a href="{% url 'checkout' %}" class="button btn dark-bg-btn">
                                            <span class="p-text text-bold">Checkout</span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                {% else %}
                    <p class="p-text">There are no items in your shopping cart.</p>
                    <a class="btn button" href="{% url 'products' %}?category=dining_sets,bistro_set,lounge_sets,chairs,sofas,benches,new_arrivals">Continue Shopping</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'products/includes/quantity_input_script.html' %}

    <script>
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).parent().prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/cart/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>

{% endblock %}