{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Bootsrap card image -->
    <div class="card">
        <img class="card-img" id="hero-image" src="/media/hero-image-hp.png" alt="Outdoor patio area with a sofa, 2 chairs and 2 footstools surrounding a coffee table, all on a rug and with some potted plants at the sides.">
    </div>

{% endblock %}