{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Home{% endblock %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Bootsrap card image -->
    <div class="card">
        <img class="card-img" id="hero-image" src="{{ MEDIA_URL }}hero-image-hp.png" alt="Outdoor patio area with a sofa, 2 chairs and 2 footstools surrounding a coffee table, all on a rug and with some potted plants at the sides.">
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Page Heading -->
                <div class="col page-heading">
                    <h1 class="heading">New Arrivals</h1>
                </div>
            </div>
        </div>
        <!-- New Arrivals -->
        <div class="row card-container {% if new_arrivals|length < 4 %}justify-content-center{% endif %}">
            {% for new_arrival in new_arrivals %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 g-4">
                    <!-- Bootstrap Card -->
                    <div class="card product-card h-100">
                        {% if new_arrival.image %}
                            <a href="{% url 'product_detail' new_arrival.id %}">
                                <img src="{{ new_arrival.image.url }}" alt="{{ new_arrival.name }}" class="card-img-top img-fluid">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' new_arrival.id %}">
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ new_arrival.name }}" class="card-img-top img-fluid">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <p class="product-info large-text info-text">{{ new_arrival.name }}</p>
                            <p class="product-price">€{{ new_arrival.price }}</p>
                            <!-- Product edit/delete links -->
                            {% if request.user.is_superuser %}
                                <div class="edit-delete-links">
                                    <a href="{% url 'edit_product' new_arrival.id %}" class="edit-link info-text">Edit</a>
                                    <span> | </span>
                                    <a href="{% url 'delete_product' new_arrival.id %}" class="delete-link error-text">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> 
        <!-- New Arrivals button -->
        <div class="row">
            <div class="col text-center mt-5">
                <a href="{% url 'products' %}?category=new_arrivals" class="button btn dark-bg-btn">
                    <span class="p-text">Shop All New Arrivals</span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <!-- Page Heading -->
                <div class="col page-heading">
                    <h1 class="heading">Latest Blog</h1>
                </div>
            </div>
        </div>

        <!-- Blog Posts -->
        <div class="row justify-content-center">
            {% for blog_post in blog_posts %}
            <div class="col-12">
                <!-- Bootstrap Card -->
                <div class="card blog-card">
                    <div class="row g-0">
                        <div class="col-md-5">
                            {% if blog_post.image %}
                                <a href="{% url 'blog_detail' blog_post.id %}">
                                    <img src="{{ blog_post.image.url }}" alt="{{ blog_post.title }}" class="card-img-top img-fluid">
                                </a>
                            {% else %}
                                <a href="{% url 'blog_detail' blog_post.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ blog_post.title }}" class="card-img-top img-fluid">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <p class="blog-info sub-heading mt-0">{{ blog_post.title }}</p>
                                <p class="blog-info p-text ms-3">{{ blog_post.body_text|slice:":200" }}</p>
                                <div class="blog-detail-index-wrapper">
                                    <!-- Blog edit/delete links -->
                                    {% if request.user.is_superuser %}
                                        <div class="edit-delete-links ms-3">
                                            <a href="{% url 'edit_blog' blog_post.id %}" class="edit-link info-text">Edit</a>
                                            <span> | </span>
                                            <a href="{% url 'delete_blog_post' blog_post.id %}" class="delete-link error-text">Delete</a>
                                        </div>
                                    {% endif %}
                                    <p class="blog-info text-muted ms-3 text-end">{{ blog_post.user }} | {{ blog_post.created_on}}</p>
                                </div>
                                <div class="read-more text-center">
                                    <a href="{% url 'blog_detail' blog_post.id %}" class="button btn light-bg-btn">Read More</a>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Blog button -->
        <div class="row">
            <div class="col text-center mt-5">
                <a href="{% url 'blog' %}?" class="button btn dark-bg-btn">
                    <span class="p-text">Check Out All Our Blog Posts</span>
                </a>
            </div>
        </div>                    
    </div>

{% endblock %}