div .blog-details-container > p {
    font-size: 1.6rem;
}

.blog-detail-wrapper {
    display: flex;
    justify-content: space-between;
}

.blog-card {
    margin-top: 4rem;
}

.comment-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.comment-body p {
    font-size: 1.4rem;
}