{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_title %}- Checkout Success{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col page-heading">
                <h1 class="heading">Thank You!</h1>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 col-lg-10">
                    <p class="p-text text-bold"> Order Information:
                    </p>
                </div>
            </div>
        </div>
        
        <div class="row order-confirmation">
            <div class="col-12">
                <!-- Order Info -->
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="p-text text-bold">Order Number:</p>
                            </div>
                            <div class="col-12 col-md-6 .d-sm-none .d-md-block">
                                <p class="p-text">{{ order.order_number|truncatechars:10 }}</p>
                            </div>
                        </div>
                        <!-- Order Date -->
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="p-text text-bold">Order Date:</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="p-text">{{ order.date }}</p>
                            </div>
                        </div>
                        <!-- Order Details -->
                        <div class="row">
                            <div class="col">
                                <p class="p-text text-bold">Order Details:</p>
                            </div>
                        </div>
                        {% for item in order.lineitems.all %}
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="p-text">{{ item.product.name }}</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <span class="p-text">{{ item.quantity }} @</span>
                                <span class="p-text">€{{ item.product.price | intcomma }} each</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <div class="col-12 col-md-6 billing-info">
                        <!-- Billing -->
                        <div class="row">
                            <div class="col">
                                <p class="p-text text-bold">Billing Details:</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="p-text">Order Total:</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="p-text">€{{ order.order_total | intcomma }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="p-text">Delivery:</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="p-text">€{{ order.delivery_cost | intcomma }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="p-text text-bold">Grand Total:</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="p-text text-bold">€{{ order.grand_total | intcomma }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row order-confirmation">      
            <div class="col-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1">
                <!-- Delivery Info -->
                <div class="row">
                    <div class="col-12">
                        <p class="p-text text-bold">Deliver To:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="p-text">Name:</p>
                    </div>
                    <div class="col-12 col-md-8">
                        <p class="p-text">{{ order.full_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="p-text">Address:</p>
                    </div>
                    <div class="col-12 col-md-8">
                        <p class="p-text">{{ order.street_address1 }}</p>
                        {% if order.street_address2 %}
                            <p class="p-text">{{ order.street_address2 }}</p>
                        {% endif %}
                        <p class="p-text">{{ order.city_town }}</p>
                        {% if order.county %}
                            <p class="p-text">{{ order.county }}</p>
                        {% endif %}
                        <p class="p-text">{{ order.country }}</p>
                        {% if order.postcode %}
                            <p class="p-text">{{ order.postcode }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div> 
                
        <div class="row">
            <div class="col-12 col-md-8">
                <p class="p-text">A confirmation email will be sent to {{ order.email }}.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="cs-button-wrapper text-end">
                    {% if from_profile %}
                        <!-- Return to Profile button -->
                        <a href="{% url 'profile' %}" class="dark-bg-btn button btn">
                            <span class="p-text">Return to Profile</span>
                        </a>
                    {% else %}
                        <!-- New Arrivals button -->
                        <a href="{% url 'products' %}?category=new_arrivals" class="dark-bg-btn button btn">
                            <span class="p-text">Check out our New Arrivals</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
