/*------ Global Styling -------*/
* {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

html {
    height: 100%;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    color: #2D3636;
}
   
main {
    padding-top: 16rem;
}

/*------ Colors -------*/

#bg-body-color {
    background-color: #F6F6F6;
}

#bg-color-footer {
    background-color: #B2CAD8;
}

/*------ Logo -------*/
#logo {
    font-family: "Playfair Display", serif;
    padding: 0;
    margin-left: .5rem;
    text-decoration: none;
}

#logo a {
    text-decoration: none;
}

#logo-top {
    color: #0E5CA5;
    font-size: 4rem;
    font-weight: 700;
}

#logo-bottom {
    color: #097485;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
}

/*------ Search Bar -------*/

.search {
    padding-top: 3rem;
}

.search-input {
    width: 80%;
}

.search-bar {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.search-button {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.search-dd-menu {
    width: 30rem;
    border: none;
    background-color: #F6F6F6;
}

/*------ Navigation -------*/

#nav-menu .nav-link {
    font-size: 1.8rem;
    margin-right: 3rem;
}

.navbar {
    width: 100%;
}

#nav-menu {
    width: 95%;
    justify-content: center;
    position: absolute;
    background-color: #F6F6F6;
    border: 1px solid rgba(0,0,0,.15);
}

.nav-item {
    margin-left: 1rem;
 }

.dropdown-item {
    font-size: 1.8rem;
    color: #2D3636;
 }

.dd-menu {
    background-color: #F6F6F6;                    
 }

 .navbar-light .navbar-nav .nav-link {      
    color: #2D3636;
}

/*------ Icons -------*/

.icons {
    color: #2D3636;
    font-size: 2rem;
}


#account .icons {
    font-size: 2.5rem;
}

.fa-shopping-cart {
    font-size: 1.8rem;
}

.user-account {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 3rem;
}

.user-account li {
    list-style: none;
    display: inline-block;
}

.grand-total {
    font-size: 1.5rem;
    color: #2D3636;
}

/*------ Header Container -------*/

.header-container {
    padding-top: 16rem;
}

/*------ Hero-Image -------*/

#hero-image {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

/*------ Footer -------*/

.footer {
    min-height: 3rem;
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}

#social-icon-links {
    list-style: none;
    text-align: right;
    padding-top: 1rem;
}

#social-icon-links li {
    display: inline;
    font-size: 2rem;
}

#social-icon-links li a {
    text-decoration: none;
}

#social-icon-links .fab {
    font-size: 2rem;
    padding: 1rem;
    color:  #2D3636;
}

#social-icon-links .fab:hover {
    opacity: .5;
}

/*----------------- Media Queries ----------------*/

/*-- Medium Screen--*/
@media only screen and (min-width: 768px) {

    /* #logo-top {
        font-size: 4rem;
    }

    #logo-bottom {
        font-size: 2rem;
    } */

    .search-input {
        width: 24rem;
    }

    .account-status {
        justify-content: flex-end;
    }

    .user-account {
        margin-right: 3rem;
    }

    .navigation {
        padding-top: 1.5rem;
    }

    #nav-menu .nav-link {
        font-size: 2.6rem;
    }

    #nav-menu {                 
        width: 100%;
        border: none;
     }

    .account-status {
        justify-content: flex-end;
    }

    .user-account {
        margin-right: 3rem;
    }
    
}

/*-- Large Screen--*/
@media only screen and (min-width: 992px) {

    .user-account {
        margin-right: 4rem;
    }

    main {
        padding-top: 18rem;
    }

    #logo-top {
        font-size: 5rem;
    }

    #logo-bottom {
        font-size: 2.5rem;
    }

    #account .icons {
        font-size: 2.5rem;
        margin-right: 1rem;
    }

    .search-input {
        width: 30rem;
    }

    .header-container {
        padding-top: 18rem;
    }

}