{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'user_profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col page-heading">
                <h1 class="heading">My Profile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <p class="p-text text-bold">Your Delivery Details</p>
                <form action="{% url 'profile' %}" method="POST" id="update-profile-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button id="submit-button" class="btn button checkout-btn">
                        <span class="p-text text-bold">Update Details</span>
                    </button>
                </form>
            </div>
            <div class="col-12 col-md-6">
                <p class="p-text text-bold">Your Order History</p>
                {{ orders }}
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'user_profiles/js/countryfield.js' %}"></script>
{% endblock %}
