<!-- Mobile Search Dropdown -->
<li class="nav-item dropdown col-3 d-block d-md-none">
    <span class="nav-link" id="mobile-header-search" role="button"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search icons"></i>
    </span>
    <div class="dropdown-menu search-dd-menu dd-menu" aria-labelledby="mobile-header-search">
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group search-input">
                <input type="text" name="q" class="form-control search-bar" placeholder="Search..." aria-label="Search..." aria-describedby="mobile-button-addon2">
                <div class="input-group-append">
                <button type="submit" id="mobile-button-addon2" class="form-control search-button">
                    <span>
                    <i class="fas fa-search"></i>
                    </span>
                </button>
                </div>
            </div>
        </form>
    </div>
</li>
<!-- Account Dropdown -->
<li class="nav-item dropdown col-3 d-block d-md-none">
    <span class="nav-link" id="account" role="button"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="far fa-user icons"></i>
    </span>
    <!-- Account Dropdown links-->
    <div class="dropdown-menu dd-menu" aria-labelledby="account">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a class="dropdown-item dd-item" href="{% url 'add_product' %}">Product Management</a>
                <a class="dropdown-item dd-item" href="{% url 'add_blog' %}">Blog Management</a>
            {% endif %}
            <a class="dropdown-item dd-item" href="{% url 'profile' %}">Profile</a>
            <a class="dropdown-item dd-item" href="{% url 'account_logout' %}">Logout</a>
        {% else %}
        <a class="dropdown-item dd-item" href="{% url 'account_signup' %}">Register</a>
        <a class="dropdown-item dd-item" href="{% url 'account_login' %}">Login</a>
        {% endif %}
    </div>
</li>
<!-- Shopping Cart -->
<li class="shopping-cart col-3 d-block d-md-none">
    <a class="{% if grand_total %}text-blue font-weight-bold{% else %}text-color{% endif %} nav-link" href="{% url 'view_cart' %}">
        <div>
            <div class="cart"><i class="fas fa-shopping-cart"></i></div>
            <p class="grand-total">
                {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                {% else %}
                    €0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>


