{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Add Blog{% endblock %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col page-heading">
                <h1 class="heading">Blog Management</h1>
            </div>
        </div>
    

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h3 class='sub-heading'>Add A Blog</h3>
                <div>
                    <form action="{% url 'add_blog' %}" method="POST" class="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name == 'image' %}
                                {{ field }}
                            {% else %}  
                                {{ field | as_crispy_field }}
                            {% endif %}
                        {% endfor %}
                        <div class="text-end blog-submit">
                            <a href="{% url 'blog' %}" class="btn button no-bg-btn">
                                <span class="p-text">Cancel</span>
                            </a>
                            <button id="submit-button" class="btn button dark-bg-btn">
                                <span class="p-text text-bold">Add Blog</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
    <script src="{% static 'blog/js/image_change.js' %}"></script>

{% endblock %}