{% extends "base.html" %}
{% load static %}

{% block extra_title %}- {{ blog_post.title }}{% endblock %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        
        <div class="row">
            <div class="col">
                <!-- Page Heading -->
                <div class="col page-heading">
                    <h1 class="heading">{{ blog_post.title }}</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="blog-image-container">
                    {% if blog_post.image %}
                        <a href="{{ blog_post.image.url }}" target="_blank">
                            <img src="{{ blog_post.image.url }}" alt="{{ blog_post.title }}" class="card-img-top img-fluid">
                        </a>
                    {% else %}
                        <a href="{{ MEDIA_URL }}noimage.png" target="_blank">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ blog_post.title }}" class="card-img-top img-fluid">
                        </a>
                    {% endif %}
                </div>
            </div>
            
            <div class="col-12 col-md-8 offset-md-2">
                <div class="blog-details-container">
                    <p class="blog-info p-text mt-3">{{ blog_post.body_text }}</p>
                    <p class="blog-info text-muted text-end">{{ blog_post.user }} | {{ blog_post.created_on}}</p>
                </div>
            </div>
        </div>

        <!-- Comments -->
        <div class="row comments-container">
            <div class="col-12 col-md-4 offset-md-4 mt-3 mb-3">
                <span class="sub-heading">Comments</span>
                <span class="p-text text-end ms-auto">{{ comments.count }}</span>
            </div>
            {% for comment in comments %}   
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3">
                        <div class="card mb-3">
                            <div class="card-header">
                                <p class="p-text text-bold">{{ comment.user }}'s Comment</p>
                                <p class="text-muted text-end">{{ comment.created_on }}</p>
                            </div>
                            <div class="card-body">
                                <p class="p-text">{{ comment.comment }}</p>
                            </div>  
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div> 
{% endblock %}
