{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Blog{% endblock %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Page Heading -->
                <div class="col page-heading">
                    <h1 class="heading">Inspiration</h1>
                    <p class="p-text">Welcome to our inspiration blog, where you can find creative ideas for creating and maintaining your outside room.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col product-container col-10 offset-1">
                <!-- Blog Posts -->
                <div class="row">
                    {% for blog_post in blog_posts %}
                    <div class="col-12 col-md-6 col-lg-4 g-4">
                        <!-- Bootstrap Card -->
                        <div class="card blog-card h-100">
                            {% if blog_post.image %}
                            <a href="{% url 'blog_detail' blog_post.id %}">
                                <img src="{{ blog_post.image.url }}" alt="{{ blog_post.title }}" class="card-img-top img-fluid">
                            </a>
                            {% else %}
                            <a href="{% url 'blog_detail' blog_post.id %}">
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ blog_post.title }}" class="card-img-top img-fluid">
                            </a>
                            {% endif %}
                            <div class="card-body">
                                <p class="blog-info sub-heading">{{ blog_post.title }}</p>
                                <p class="blog-info p-text">{{ blog_post.body_text|slice:":200" }}</p>
                                <p class="blog-info text-muted">{{ blog_post.user }} | {{ blog_post.created_on}}</p>
                                <!-- Blog edit/delete links -->
                                {% if request.user.is_superuser %}
                                    <div class="edit-delete-links">
                                        <a href="{% url 'edit_blog' blog_post.id %}" class="edit-link text-blue">Edit</a>
                                        <span> | </span>
                                        <a href="{% url 'delete_blog_post' blog_post.id %}" class="delete-link text-danger">Delete</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>                    
            </div>
        </div>
    </div>
{% endblock %}