{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="row">
        <div class="col page-heading">
            <h1 class="heading">{% trans "Change Password" %}</h1>
        </div>
    </div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action" class="button btn dark-bg-btn">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
