{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta%}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <!-- Google Fonts with pre connect -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,700&family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
            <!-- Favicon -->
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
            <!-- Static base.css -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <!-- Font Awesome -->
            <script src="https://kit.fontawesome.com/6ce9d8c658.js" crossorigin="anonymous"></script>
            <!-- Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <!-- JQuery -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>Inside Out {% block extra_title %}{% endblock %}</title>
    </head>

    <body id="bg-body-color">
        <header id="bg-header-color" class="container-fluid fixed-top">

            <!-- Logo -->
            <div class="row">
                <div class="col col-md-4">
                    <div id="logo" >
                        <a href="{% url 'home' %}">
                            <h2 id="logo-top">Inside Out</h2>
                            <h3 id="logo-bottom">Outdoor Furniture</h3>
                        </a>
                    </div>
                </div>
                <!-- Search -->
                <div class="col col-md-4 search d-none d-md-flex">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group search-input">
                            <input type="text" name="q" class="form-control search-bar" placeholder="Search..." aria-label="Search..." aria-describedby="button-addon2">
                            <div class="input-group-append">
                            <button type="submit" id="button-addon2" class="form-control search-button">
                                <span>
                                <i class="fas fa-search"></i>
                                </span>
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- My Account -->
                <div class="col col-md-4 d-none d-md-flex account-status">
                    <ul class="user-account">
                        <!-- Dropdown-->
                        <li class="nav-item dropdown">
                            <span class="nav-link" id="account" role="button" 
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user icons"></i>
                            </span>
                            <!-- Account Dropdown links-->
                            <div class="dropdown-menu dd-menu" aria-labelledby="account">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a class="dropdown-item dd-item" href="#">Admin</a>
                                    {% endif %}
                                    <a class="dropdown-item dd-item" href="#">Profile</a>
                                    <a class="dropdown-item dd-item" href="{% url 'account_logout' %}">Logout</a>
                                {% else %}
                                <a class="dropdown-item dd-item" href="{% url 'account_signup' %}">Register</a>
                                <a class="dropdown-item dd-item" href="{% url 'account_login' %}">Login</a>
                                {% endif %}
                            </div>
                        </li>

                        <!-- Shopping Cart -->
                        <li class="shopping-cart">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_cart' %}">
                                <div>
                                    <div class="cart"><i class="fas fa-shopping-cart icons"></i></div>
                                    <p class="grand-total">
                                        {% if grand_total %}
                                            €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
             <!-- Navigation -->
            <div class="row navigation">
                <!-- Bootstrap Navbar with modifications-->
                <nav class="navbar navbar-expand-md navbar-light">
                    <!-- Navbar Collapse Button -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav-toggle" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>

            <!-- Banner -->
            <div id="bg-color-banner" class="row text-center banner">
                <div class="col">
                    <p class="banner-text"><strong>FREE</strong> delivery on orders over €{{ free_delivery_threshold }}!
                    </p>
                </div>
            </div>

        </header>

        {% if messages %}
            <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <!-- Footer Buffer -->
        <div class="footer-buffer container">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer id="bg-color-footer" class="footer container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Social Links -->
                    <ul id="social-icon-links">
                        <li>
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener">
                                <i class="fab fa-instagram"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener">
                                <i class="fab fa-facebook"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        {% block postloadjs %}
        {% endblock %}

    </body>
</html>