/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Stripe form styles */

.stripe-style-input,
.StripeElement {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 43px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
            box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    -webkit-transition: -webkit-box-shadow 150ms ease;
    transition: -webkit-box-shadow 150ms ease;
    -o-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
            box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::-webkit-input-placeholder {
    color: #aab7c4;
    font-size:  1.4rem;
}

.stripe-style-input::-moz-placeholder {
    color: #aab7c4;
    font-size:  1.4rem;
}

.stripe-style-input:-ms-input-placeholder {
    color: #aab7c4;
    font-size:  1.4rem;
}

.stripe-style-input::-ms-input-placeholder {
    color: #aab7c4;
    font-size:  1.4rem;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
    font-size:  1.4rem;
}

/*----- Checkout form styles -----*/

#payment-form .form-control,
#card-element {
    color: #2D3636;
    border: .1rem solid #0E5CA5;
    font-size: 1.6rem;
}

#payment-form label,
.card-charge-warning > span,
.form-check-label > a {
    font-size: 1.6rem;
}

.card-charge-warning {
    margin-top: 1rem;
}

.summary-totals {
    margin: 2rem 1rem;
    border: .1rem solid #0E5CA5;
    width: 90%;
    border-radius: 2rem;
    padding: 3rem;
}

.checkout-items {
    margin-bottom: 2rem;
}

.order-confirmation {
    border: .1rem solid #0E5CA5;
    border-radius: 2rem;
    padding: 3rem;
    margin-bottom: 3rem;
    width: 80%;
    margin-left: 1rem;
}

.billing-info {
    margin-top: 2rem;
}

.cs-button-wrapper {
    margin-top: 2rem;
    width: 80%;
}

#payment-form select {
    font-size: 1.6rem;
}

select,
select option {
    color: #2D3636;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/*----- Processing Overlay ------*/

#processing-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f6f6f6;
    background: rgba(14, 92, 165, .8);
    z-index: 9999;
}

.processing-spinner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 3rem;
    margin: 0;
    height: 100%;
}


/*------------------- Media Queries ------------------*/
/*-- Medium Screen--*/
@media only screen and (min-width: 768px) {

    .checkout-submit,
    fieldset {
        width: 80%;
    }

    .billing-info {
        margin-top: 0;
    }

    .cs-button-wrapper {
        width: 90%;
    }

    .order-confirmation {
        width: 90%;
        margin-left: 0;
    }
}
