{% extends "base.html" %}
{% load static %}

{% block extra_title %}- {{ product.name }}{% endblock %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Page Heading -->
                    <div class="col page-heading">
                        <h1 class="heading">{{ product.name }}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="product-image-container">
                        {% if product.image %}
                            <a href="{{ product.image.url }}" target="_blank">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                            </a>
                        {% else %}
                            <a href="{{ MEDIA_URL }}noimage.png" target="_blank">
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="product-details-container">
                        <p class="product-info text-bold">€{{ product.price }}</p>
                        <p class="product-desc">{{ product.description }}</p>
                        <!-- Category -->
                        {% if product.category %}
                            <p class="small mt-0">
                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                    {{ product.category.display_name }}
                                </a>
                            </p>
                        {% endif %}
                        <!-- Add to Cart -->
                        <form class="form" action="" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <!-- Quantity select -->
                                <div class="col-12 quantity">
                                    <p class="p-text text-bold">Quantity:</p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control qty_input" type="number" name="quantity"
                                                value="1" min="1" max="99" data-item_id="{{ product.id }}"
                                                id="id_qty_{{ product.id }}">
                                        </div>
                                    </div>
                                </div> 
                                <div class="col">
                                    <!-- Continue shopping button -->
                                    <a href="{% url 'products' %}" class="shopping-btn btn">
                                        <span class="p-text">Continue Shopping</span>
                                    </a>
                                    <!-- Add to cart button -->
                                    <input type="submit" class="btn button" value="Add to cart">
                                </div>
                                <!-- Hidden redirect -->
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}