{% extends "base.html" %}
{% load static %}

{% block extra_title %}- {{ product.name }}{% endblock %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Page Heading -->
                    <div class="col page-heading">
                        <h1 class="heading">{{ product.name }}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="product-image-container">
                        {% if product.image %}
                            <a href="{{ product.image.url }}" target="_blank">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                            </a>
                        {% else %}
                            <a href="{{ MEDIA_URL }}noimage.png" target="_blank">
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="product-details-container">
                        <p class="product-info text-bold">€{{ product.price }}</p>
                        <p class="product-desc">{{ product.description }}</p>
                        <!-- Category -->
                        {% if product.category %}
                            <p class="small mt-0">
                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                    {{ product.category.display_name }}
                                </a>
                            </p>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}