<!-- Bootstrap Toast -->
<div class="toast bg-toast-color custom-toast" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">
    <div class="arrow-up arrow-danger"></div>
    <div class="toast-capper bg-danger"></div>
    <!-- Toast Header -->
    <div class="toast-header bg-toast-color">
        <strong class="me-auto p-text">Error!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
        </button>
    </div>
    <!-- Toast Body-->
    <div class="toast-body p-text">
        {{ message }}
    </div>
</div>