<!-- Bootstrap Toast -->
<div class="toast bg-toast-color custom-toast" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">
    <div class="toast-capper success-bg"></div>
    <!-- Toast Header -->
    <div class="toast-header bg-toast-color">
        <p class="me-auto p-text text-bold success-text">Success!</p>
        <button type="button" class="btn-close p-text" data-bs-dismiss="toast" aria-label="Close">
        </button>
    </div>
    <!-- Toast Body-->
    <div class="toast-body">
        <div class="row">
            <div class="col p-text">
                {{ message }}
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
            <p class="p-text text-bold">Your Cart ({{ product_count }})</p>
            <div class="cart-preview">
                {% for item in cart_items %}
                <div class="row">
                    <div class="col-4">
                        {% if item.product.image %}
                            <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                            <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <p class="p-text text-bold">{{ item.product.name }}</p>
                        <div class="toast-product-info">
                            <span class="p-text">Qty: {{ item.quantity }}</span>
                            <span class="p-text text-end">€{{ item.product.price }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <p class="p-text text-bold">Total{% if free_delivery_delta > 0 %}(Exc. Delivery){% endif %}:
                        <span class="p-text float-end">€{{ total|floatformat:2 }}</span>
                    </p>
                    {% if free_delivery_delta > 0 %}
                        <p class="p-text">Spend €{{ free_delivery_delta }} more for <strong>FREE</strong> delivery.
                        </p>
                    {% endif %}
                    <a href="{% url 'view_cart' %}" class="button btn w-100 dark-bg-btn text-bold">View Cart</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>