<!-- Bootstrap Toast -->
<div class="toast bg-toast-color custom-toast" role="alert" data-bs-autohide="true" data-delay="500" aria-live="assertive" aria-atomic="true">
    <div class="toast-capper warning-bg"></div>
    <!-- Toast Header -->
    <div class="toast-header bg-toast-color">
        <p class="me-auto p-text text-bold warning-text">Warning!</p>
        <button type="button" class="btn-close p-text" data-bs-dismiss="toast" aria-label="Close">
        </button>
    </div>
    <!-- Toast Body-->
    <div class="toast-body">
        <div class="row">
            <div class="col p-text">
                {{ message }}
            </div>
        </div>
    </div>
</div>